input[type=checkbox]{
    opacity: 0;
}
.checking{
    background-color: #cccccc;
   width: 15px;
   height: 15px;
   line-height: 10px;
   color: white;
   text-align: center;
   border: 2px double gray;
   display: inline-block;
}
input[type=checkbox]:checked ~ .checking{
    background: url(../img/sprites.png) no-repeat;
    background-position: -31px -197px;
    width: 22px;
	height: 21px;
    background-color: white;
    border: 1px solid #cccccc;
}
form{
    float: right;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
    padding-top: 0px;
    margin-top: 15px;
}
input{
    border: none;
}
p{
    color: gray;
    font-family: "Myriad Pro" sans-serif;
    font-size: 1.5em;
}
ul{
    list-style-type: none;
}
.box{
    border: 1px solid #cccccc;
}
.white{
    color: white;
    font-size: 3em;
}
h1{
    color: #52A9F6;
    font-family: "Myriad Pro" sans-serif;
    font-size: 3em;
}
.list-number{
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #33CC66;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
}
.list-link{
    color: #52A9F6;
    display: inline;
    text-align: left;
    font-size: 1.5em;
}
.list-link:hover, .list-number:hover{
    color: #cccccc;
    text-decoration: none;
    display: inline;
}
.list-number:hover{
    background-color: #cccccc;
     border-radius: 50%;
    width: 20px;
    height: 20px;
     margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 5.5px;
    display: inline-block;
    text-align: left;
}
.menu-horiz{
    list-style: none;
    padding-top: 10px;
    text-align: center;
}
.menu-horiz li{
    display: inline-block;
    margin-right: 30px;
}
.recs{
    margin-top: 0px;
    display: inline-block;
}
.recs p{
    font-size: 1em;
}
.small-recs{
    margin-bottom: 0px;
}
.small-recs p{
    font-size: .75em;
}
.box-bottom{
    border-bottom: 1px solid #cccccc;
}
.box-bottom li{
    border-bottom: 1px solid #cccccc;
}
.footer{
    display: inline-block;
    font-size: .85em;
    margin-top: 10px;
    color: #cccccc;
}
.footer a{
    color: 
}
.box-bottom-right{
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.box-right{
    border-right: 1px solid #cccccc;
}
.box-shadow-top{
    border-top: 3px ridge #cccccc;
    margin-top: 20px;
}
.box-shadow-top a{
    color: #2498f4;
}
.box-shadow-top a:hover{
    text-decoration: none;
}
.task-rec{
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.task-rec li{
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.person-number{
    display: inline-block;
    float: right;
    padding-right: 5px;
}
.person-box{
    float: right;
    border: 1px solid #cccccc;
    padding: 2px;
    min-width: 60px;
}
.slider-arrows-left{
    width: 40px;
    height: 40px;
    border-radius: 0% 50% 50% 0%;
    background-color: white;
    float: left;
    margin-left: -50px;
    margin-top: 22px;
}
.slider-arrows-right{
     width: 40px;
    height: 40px;
    border-radius: 50% 0% 0% 50%;
    background-color: white;
    float: right;
    margin-right: -50px;
    margin-top: 15px;
}
#social{
    border: none;
}
#bar-chart{
    margin-left: 0px;
	padding-left: 0px;
}
#reco li{
    border-bottom: 1px dotted #cccccc;
}
#dashboard{
    background-color:#33CC66;
    border-radius: 5px;
    min-height: 50px;
    padding: 20px 0px 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
#dashboard p{
    display: inline-block;
}
#nav-icon-bar{
    background-color: #154772;
    min-height: 100px;
}
#nav{
    background-color: #2191E9;
    text-align: right;
}
#nav p{
    display: inline;
}
#orange{
    color: #fe7f13;
    padding-top: 10px;
    font-size: 1em;
}
#pie-graphs{
    margin-top: 10px;
    text-align: center;
}
#pie-graphs p{
    padding-top: 20px;
    font-size: 1em;
}
#pie-graphs{
    margin-top: 30px;
}
#ads{
    background-color: #52A9F6;
    min-height: 150px;
    padding-top: 25px;
    margin-top: 30px;
    padding-left: 70px;
}
#tasks .person-gray{
    display: none;
	float: left;
	padding-left: 2px;
}
#tasks:hover .list-number{
    background-color: gray;
}
#tasks:hover a{
    color: gray;
}
#tasks:hover .person-blue{
    display: none;
}
#tasks:hover .person-gray{
    display: inline-block;
}
#orange-arrows{
    padding-top: 5px;
    padding-bottom: 2.5px;
    margin: 0 auto;
}
#mini{
    font-size: .75em;
    margin-bottom: 20px;
}
#slider{
    background-color: #2498F4;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 40px;
    margin-bottom: 10px;
}
#slider p{
    color: white;
    font-size: 1em;
}
#latin-filler{
    font-size: 1em;
    padding-top: 10px;
}